body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto;
    padding: 10px;
    box-shadow: 0 0 20px #00000055;
    border-radius: 20px;
    max-width: 600px;
}

section, form  {
    align-items: center ;
    width: fit-content;
    display: inline-block;
    padding: 15px;
}

section {
    padding-top: 0;
}

form {
    padding-top: 0;
}

section img {
    width: 100px;
    border-radius: 50px;
}

input {
    padding: 15px;
    font-size: 16px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #6666dd55;
}

form h1 {
    margin-top: 0;
}

form p {
    font-size: 12px;
}

form a {
    color: rgb(92, 92, 255);
    text-decoration: none;
}

form button {
    margin: 10px;
    width: 100px;
    padding: 10px;
    font-size: 15px;
    background-color: #6666dd33;
    color: #6666ee;
    border: none;
    border-radius: 20px;
}

form button :hover {
    background-color: #6666dd;
}